<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Safety database</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/main">Safety Database</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/form">ADR Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/information">ADR Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-8">
        <h1>Safety database</h1>
        <p></p>
        This is an online safety database for reporting adverse drug reactions (ADR).<br>
        You can either submit a new ADR or view the ADRs that you have submitted.<br>
        The admins of the system can view all the ADRs. <br>
        <p>
          If you have received information about a new ADR that has not been previously reported to the authorities or to the Marketing Authorisation Holder (the pharmaceutical company), 
          please report the ADR using the <a href="/form">ADR Form.</a>
        <p>
          If you want to see information about the ADRs reported to the system, you can go to the <a href="/information">ADR Information</a> page. 
        </div>
    </div>
</div>