<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Log in</title>
<div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Register</h1>
        <p></p>
        Error: {{ error }}    
        <p></p>
        <form action="/register" method="POST">
            <div class="form-group col-6">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username">
            </div>
            <div class="form-group col-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group col-6">
                <label for="repassword">Enter the Password again</label>
                <input type="password" class="form-control" id="repassword">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>

        </div>
    </div>
</div>